### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
#open text file
test1 = open("test.txt", "w")
 
#write string to file
test1.write('This is a test of the emergency text system.')
 
#close file
test1.close()

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
test2 = open("test.txt")
print(test2.read())

This is a test of the emergency text system.

### 3. Create a CSV file called books.csv by using these lines:
title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [3]:
text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''

with open('books.csv', 'wt') as outfile:
    outfile.write(text)

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''create table book (title text, author text, year txt)''')
db.commit()

### 5. Read books.csv and insert its data into the book table.

In [ ]:
import csv
import sqlite3
ins_str = 'insert into book value(?,?,?)'
with open('books.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))
db.commit()

### 6. Select and print the title column from the book table in alphabetical order.

In [ ]:
sql = 'select from book order by title asc'
for row in db.execute(sql):
    print(row)
    
if you just wanted to print the title value without the tuple stuff(parentheses and comma), try this:
for row in db.execute(sql):
    print(row[0])

### 7. From the book table, select and print all columns in the order of publication.

In [ ]:
for row in db.execute('select *from book order by year'):
    print(row)
    
to print all the fields ineach row, just separate with a comma and space
for row in db.execute('select *from book order by year'):
    print(*row, sep=',')

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6

In [ ]:
import sqlalchemy
conn = sqlalchemy.create_englne('sqllte:///books.db')
sql = 'select tttle froM book order by tttle asc'
rows = conn.execute(sql)
for row ln rows:
    print(row)

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
1
conn.hmset('test', {'count ':1, 'name': 'Fester Bestertester '}) 
True
conn.hgetall('test')
{b'name ': b'Fester Bestertester', b'count': b'l'}

### 10.Increment the count field of test and print it.

In [ ]:
conn.hlncrby('test', 'count', 3)
4
conn .hget('test', 'count')
b'4'